page-subcatagory {
.item-md{
    background: transparent;

   
}
img{
    width: 30px !important;
    height:30px !important;
}
.item-md ion-thumbnail{
    min-width: 30px;
    min-height: 30px;
}
.item-md{
    border-bottom: 1px solid gray;
}
.searchbar-md{
    background: transparent;
}
}
