page-resetnext {
    .button_wel{
        background: transparent;
        margin: 40px auto;
        color: #1a8fd8;
        font-weight: 600;
        border-radius: 5px;
        display: block;
        border: 2px solid #fff;
        padding: 25px;
        font-size: 18px;
    }
}
