page-addservice {
    .button_SEND{
        background:transparent;
        margin: 20px auto;
        color: #4d84c1;
        font-weight: 600;
        border-radius: 5px;
        text-align: center;
        display: inherit;
        font-size: 20px;
        padding: 20px;
        border: 2px solid #fff;
    }
    .item-md{
        background: transparent;
    
       
    }
}
